<div class ="columns is-centered mt-6">
<div class="column is-half">
 <% @entries.each do |day, entries| %>
<h3 class="is-size-4 has-text-weight-bold mb-4 has-text-centered">Entries for <%= day %></h3>

<nav class ="level is-mobile">
  <div class="level-item has-text-centered">
     <div>
       <p class="heading">Calories</p>
       <p class="title"><%= entries %></p>
     </div>
     </div>
     <div class="level-item has-text-centered">
     <div>
     <p class="heading">Proteins</p>

     </div>
     </div>
     <div class="level-item has-text-centered">
     <div>
     <p class="heading">Calories</p>

     </div>
     </div>
     <div class="level-item has-text-centered">
     <div>
     <p class="heading">Calories</p>

     </div>
     </div>
  
</nav>

    
